<div class="side-menu-container">
    <ul class="nav navbar-nav">
        <li><a href="/admin/subject"><span class="glyphicon glyphicon-send"></span>Subjects</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Delivery plan</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-random"></span> Delivery result</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-paste"></span> Report</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Tra cứu SK/SM</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-barcode"></span> Thông tin xe máy HVN</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Xem mật khẩu HEAD</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-file"></span> Khiếu nại giao hàng</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star-empty"></span> Khởi tạo nhóm HEAD</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span> Khởi tạo bù cho HEAD</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-glass"></span> Đào tạo bán hàng xe máy</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Báo cáo nhân sự bán hàng</a></li>
    </ul>
</div>